.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 80px;
}

.search-section input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-section button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.search-section button:hover {
    background-color: rgb(60, 57, 57);
}