.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    background: #141c2d;
    border-right: 1px solid #1F2937;
    color: #F9FAFB;
}


.brand {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}

.subtitle {
    padding: 0rem 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: #9CA3AF;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}


.nav-item {
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    text-align: left;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    display: block;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.nav-item.active,
.nav-item:hover {
    background-color: #374151;
    border-radius: 8px;
}